body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.container {
  width: 300px;
  margin: 50px auto;
  text-align: center;
}

input {
  width: 70%;
  padding: 8px;
}

button {
  padding: 8px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  background: #fff;
  margin: 5px 0;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s;
}

li:hover {
  background: #ddd;
}
