* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(209, 255, 209);
    margin: 16px 20px;
}

.card {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.card > article {
    width: 80vw;
    border: 2px solid black;
    border-radius: 8px;
    padding: 12px;
    border-color: rgb(93, 30, 145);;
    background-color: rgb(255, 193, 193);
}

.card > article > p {
    font-size: 1.2em;
    margin: 8px 0;
}

.card > article > time {
    font-size: 1.2em;
    font-style: italic;
}

h2 {
    font-size: 3em;
    color: rgb(93, 30, 145);
}

nav > ul {
    display: flex;
    gap: 12px;
    list-style-type: none;
}

nav a {
    text-decoration: none;
    font-size: 1.4em;
    font-weight: bold;
    color: rgb(85, 85, 5);
}

nav a:hover {
    color: rgb(151, 151, 0);
}